<section class="ui raised segment">
  <h3 class="ui header">
    Your Personal Details
  </h3>
  <div>
    <h4> <b >First name: </b>{{firstName}} </h4>
    <h4> <b>Surname: </b>{{lastName}} </h4>
    <h4> <b>e-mail: </b>{{email}}</h4>
  </div>
</section>