{{> menu id="about"}}

<section class="ui center aligned middle aligned column">
  <div class="ui two column grid">
    <div class="column">
      <div class="ui center aligned segment">
        <h2>About Us</h2>
        <h3> Welcome to our companion weather app! </h3>
        <p>
          Weather top is a Web Application to accompany the Weather Top 5000,
          a modular weather station for amateur and professional weather enthusiasts. </p>
        <p>
          Purchase of a Weather Top 5000 grants lifetime free access to this companion app, a place
          where users can record and upload weather data from your weather station to your personalised dashboard,
          free of clutter and ads.
        </p>
        <p>
          <em>Please note:</em> WeatherTop data is supplied by our user community.
          Observations are made from a variety of sources and therefore quality and frequency of observations may vary.
          Data is not reviewed, corrected or moderated in any way.
        </p>
        <br>
      </div>
      <div>
        <div class="ui center aligned segment">
          <h2>Contact Us</h2>
          <br>
          <p>
            If you'd like to learn more about our product or simply want to join our mailing list please get in touch
            via E-Mail or through our social media pages.
            <br><br> E-Mail: info@weathertop.ie
            <br><br>
            <a href="#"><i class="large circular colored blue twitter icon"></i></a>
            <a href="#"><i class="large circular colored blue facebook f icon"></i></a>
            <a href="#"><i class="large circular colored blue discord icon"></i></a>
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <img class="ui image" src="https://cdn.glitch.global/0fadb363-ded7-4aff-8c9b-59e08064f4f8/weathertop-2.png?v=1661591322212g">
      </div>
      <div class="column">
        <div class="ui segment">
          <img class="ui image" src="https://cdn.glitch.global/0fadb363-ded7-4aff-8c9b-59e08064f4f8/weather-station.png?v=1661591323881">
        </div>
      </div>
    </div>
  </div>
</section>