{{> welcomemenu id="login"}}

<div class="ui two column middle aligned grid basic segment">
  <div class="column">
    <form class="ui stacked segment form" action="/authenticate" method="POST">
      <h3 class="ui header">Log-in</h3>
      <div class="field">
        <label>Email</label> <input placeholder="Email" name="email">
      </div>
      <div class="field">
        <label>Password</label> <input type="password" name="password">
      </div>
      <button class="ui blue submit button">Login</button>
    </form>
  </div>
  <div class="column">
    <section class="ui container">
      <img class="ui fluid image" src="https://cdn.glitch.global/0fadb363-ded7-4aff-8c9b-59e08064f4f8/weathertop-1.png?v=1661591322230">
    </section>
  </div>
</div>